.menu {
  position: fixed;
  top: rem(30px);
  left: rem(30px);
  z-index: 2;
  padding: rem(20px) rem(35px) rem(20px) rem(40px);
  list-style-type: disc;
  border: 1px dashed $color-black;
}

.menu__item {
  padding-top: rem(10px);
  padding-bottom: rem(10px);
}

.menu__link {
  transition: color .3s;
}

.menu__link.is-active {
  color: #ff0000;
}
