.menu {
  display: none;

  @include media(">=sm") {
    position: fixed;
    top: rem(10px);
    bottom: rem(70px);
    left: rem(10px);
    z-index: 2;
    display: block;
    width: rem(230px);
    padding: rem(20px) rem(35px) rem(20px) rem(40px);
    list-style-type: disc;
    border: 1px dashed $color-black;
  }
}

.menu__item {
  padding-top: rem(10px);
  padding-bottom: rem(10px);
}

.menu__link {
  transition: color .3s;
}

.menu__link.is-active {
  color: #ff0000;
}
