.parallax {
  position: relative;
  display: flex;
  flex-direction: column;
}

.parallax__square {
  position: relative;
  width: rem(100px);
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  padding-left: rem(10px);
  margin: rem(25px) 0;
  border: 2px solid $color-black;

  @include media(">=sm") {
    width: rem(200px);
    height: rem(200px);
    margin: rem(50px);
  }
}

.parallax__square--aligned-start {
  align-self: flex-start;
}

.parallax__square--aligned-center {
  align-self: center;
}

.parallax__square--aligned-end {
  align-self: flex-end;
}

.parallax__index {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  font-size: rem(20px);
  font-weight: $weight-bold;
  color: $color-white;
  background-color: $color-black;
  border-radius: 50%;
}

.parallax__index--right-corner {
  position: absolute;
  top: rem(-20px);
  right: rem(-20px);
}
