.toggle-button {
  position: fixed;
  bottom: rem(10px);
  left: rem(10px);
  z-index: 2;
  padding: rem(10px);
  font-weight: $weight-bold;
  color: $color-white;
  cursor: pointer;
  background-color: $color-black;
  border: 0;
  outline: 0;
}

.toggle-button > span {
  display: inline-block;
  padding: rem(10px);
  margin-left: rem(5px);
  font-size: rem(12px);
  text-transform: uppercase;
}

.toggle-button > .off {
  background-color: #b60303;
}

.toggle-button > .on {
  background-color: #47b147;
}
