.scene {
  position: relative;
  display: flex;
  flex-direction: column;
}

.scene--row {
  flex-direction: row;
}

.scene__row {
  display: flex;
  width: 100vw;
}

.scene__square {
  position: relative;
  width: rem(100px);
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  padding-left: rem(10px);
  margin: rem(25px) 0;
  border: 2px solid $color-black;

  @include media(">=sm") {
    width: rem(200px);
    height: rem(200px);
    margin: rem(50px);
  }
}

.scene__square--less-margin {
  margin: rem(10px);
}

.scene__square--aligned-start {
  align-self: flex-start;
}

.scene__square--aligned-center {
  align-self: center;
}

.scene__square--aligned-end {
  align-self: flex-end;
}

.scene__index {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  font-size: rem(20px);
  font-weight: $weight-bold;
  color: $color-white;
  background-color: $color-black;
  border-radius: 50%;
}

.scene__index--right-corner {
  position: absolute;
  top: rem(-20px);
  right: rem(20px);
}

.scene__col {
  width: 50%;
}

.scene__content {
  width: 100%;
  height: 200px;
  padding: rem(20px);
  background-color: #f2f2f2;
}

.scene__sidebar {
  width: 100%;
  height: 600px;
  padding: rem(20px);
  border: 2px solid $color-black;
}
