html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

// Box-sizing reset best practice
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  font-size: rem($default-font-size);
  line-height: 1.1;
  color: $color-black;
  background-color: $color-white;
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
}

hr {
  margin: 0;
  border: 0;
}
